*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card  {

    width: 100%;
    height: 700px;
    position: relative;
    overflow: hidden;
    background-color: #f5d000;

}

.left{
    width:60%;
    height: 100%;
    position: relative;
    background-color: #f4c400;
    left: 0;
    top: 0;
    padding: 50px;
}
.logo{
    width: 150px;
    margin-bottom: 100px;
}
.subtitle{
    letter-spacing: 5px;
    font-size: 15px;
    margin-bottom: 20px;
    color: #111;
}
h1{
    font-size: 100px;
    margin-bottom: 20px;
    color: #000;
}
.desc{
    width: 320px;
    line-height: 1.7;
    color: #222;
    font-size: 18px;
}
.pagination{
    margin-top:40px;
    display:flex;
    align-items: center;
    gap: 15px;
    font-size:20px;
}
.line{
    width: 60px;
    height: 3px;
    background: #000;
}
.right{
      width:40%;
      height:100%;
      background:#efe3bf;
      position:absolute;
      right:0;
      top:0;
    }

    /* Pikachu Image */
    .pikachu{
      width:500px;
      position:absolute;
      top:170px;
      left:-190px;
    }

    /* Menu Icon */
    .menu{
      position:absolute;
      top:40px;
      right:40px;
      width:40px;
      cursor:pointer;
    }

    .menu span{
      display:block;
      height:4px;
      background:#000;
      margin:7px 0;
      border-radius:2px;
    }

    /* Dots */
    .dots{
      position:absolute;
      right:25px;
      top:50%;
      transform:translateY(-50%);
    }

    .dots div{
      width:10px;
      height:10px;
      background:#111;
      border-radius:50%;
      margin:12px 0;
    }

    .dots div:nth-child(2),
    .dots div:nth-child(3),
    .dots div:nth-child(4){
      background:#f4c400;
    }

    /* Pokeball Circle */
    .circle{
      width:180px;
      height:180px;
      border:12px solid rgba(0,0,0,0.08);
      border-radius:50%;
      position:absolute;
      bottom:-40px;
      left:-40px;
    }

    .circle::before{
      content:"";
      width:180px;
      height:12px;
      background:rgba(0,0,0,0.08);
      position:absolute;
      top:50%;
      left:0;
      transform:translateY(-50%);
    }

    .circle::after{
      content:"";
      width:40px;
      height:40px;
      border:10px solid rgba(0,0,0,0.08);
      border-radius:50%;
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
    }